html {
    text-align: center;
    margin: 5%;
}
title {
    display: inline;
}
p, li {
    line-height: 180%;
}
.jumbotron {
    background-color: rgb(237, 247, 243);
}
#image {
    display: block;
    max-width: 50%;
    margin: 15px auto;
}
#img-caption {
    text-align: center;
    margin: 10px auto;
}
h5 {
    font-weight: bold;
}

